@model Campa単as

<form asp-action="campa単as" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        Titulo: <input asp-for="Titulo">
    </div>
    <div>
        Tipo:
        <select name="TipoCampa単a">
            @foreach(var t in (List<TipoCampa単a>)ViewBag.TiposC)
            {
                <option value="@t.Id">@t.Nombre</option>
            }
        </select>
    </div>
    <div>
        Contenido: <textarea asp-for="Contenido"></textarea>
    </div>
    <button>Registrar</button>
</form>