@model Contacto
@{
    ViewBag.Titulo = "Confirmacion";
}
<div class="text-center card container container-fluid">
    <h2 class="h1-responsive font-weight-bold my-4">Su mensaje ha sido enviado satisfactoriamente</h2>
    <p class="w-responsive mx-auto mb-5">Gracias por usar ICare, su sitio de adopción de mascotas online</p>
</div>