
@{
    ViewBag.Titulo = "Conformacion";
}
<p>Nombre: @TempData["nombre"]</p>
<div>
    <h1>Su mensaje ha sido enviado satisfactoriamente</h1>
    <h1>Gracias por usar ICare, su sitio de adopción online</h1>
</div>