@model Contacto
@{
    ViewBag.Titulo = "Contacto";
}
<div class="text-center card container container-fluid">
    <h2 class="h1-responsive font-weight-bold my-4">Bienvenido a la página de contacto</h2>
    <p class="w-responsive mx-auto mb-5">Su opinion nos importa, si tiene alguna sugerencia, queja o duda, no lo piense y contacte con nosotros</p>

    <form asp-action="Contacto" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group col-7">            
            <input asp-for="Nombre" class="form-control" placeholder="Nombre">
        </div>
        <div class="form-group col-7">           
            <input asp-for="Email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group col-7">          
            <textarea asp-for="Descripcion" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escriba aquí su mensaje"></textarea>
        </div>
        <div class="form-group col-2">
            <button class="btn text-white rgba-indigo-strong font-weight-bold">Enviar</button>
        </div>
    </form>

</div>