@{
    ViewBag.Titulo = "Esterilización";
}
<div class="card container container-fluid">
    <div class="mb-4 mt-4">
        <h3 class="purple-text"><u>¿Qué es una esterilización y en qué consiste?</u></h3>
    </div>
    <div>
        <div class="mb-3">
            <h5>En hembras:</h5>
            <p class="card-text">Consiste en retirar ambos ovarios y el útero, esto se realiza con cirugía bajo anestesia general. 
            Normalmente la operación es muy rápida y requiere de pocos cuidados después de la cirugía.</p>
        </div> 
        <div>  
        <h5>En machos:</h5>
        <p class="card-text">Consiste en retirar ambos testículos, es una cirugía muy sencilla para el médico veterinario, 
            la recuperación es muy rápida y las complicaciones son muy raras.</p>
        </div>
    </div>
    <div class="mb-4 mt-4">
        <h3 class="purple-text"><u>¿Le dolerá a mi mascota la cirugía?</u></h3>
    </div>
    <div>
        <p class="card-text">Como cualquier procedimiento esta cirugía puede ser dolorosa, pero se realiza bajo anestesia general y 
            se utilizan medicamentos para evitar las molestias asociadas a la misma. Después de un par de días las molestias desaparecen.</p>
    </div>
    <div class="mb-4 mt-4">
        <h3 class="purple-text"><u>Beneficios:</u></h3>
    </div>
    <div class="mb-3">
        <h5>Generales:</h5>
    </div>
    <div>
        <ul>
            <li class="mb-2">Disminuyes las posibilidades de que este se pierda al salir a la calle a buscar al sexo opuesto y al mismo tiempo baja el riesgo de que se pelee con otro,
                que lo atropellen, que se lo roben o que se pierda.</li>
            <li class="mb-2">La esterilización o castración no engordará a su mascota.</li>
            <li class="mb-2">Alargamos la vida del animal.</li>
            <li class="mb-2">La esterilización y castración ayuda con el exceso de población de mascotas.</li>
        </ul>
    </div>
    <div class="mb-3">
        <h5>Hembras:</h5>
    </div>
    <div>
        <ul>
            <li class="mb-2">Al esterilizar a tu perra o gata evitas los problemas de comportamiento, que se presentan al entrar en celo, 
                algunas pueden volverse agresivas o nerviosas durante esta etapa.</li>
            <li class="mb-2">Al esterilizarla también se disminuye la posibilidad de que sufra de tumores de glándula mamaria los cuales 
                pueden ser malignos y causar metástasis y la muerte de tu perra.</li>
            <li class="mb-2">Su mascota hembra vivirá una vida más larga y más sana.</li>
        </ul>
    </div>
    <div class="mb-3">
        <h5>Machos:</h5>
    </div>
    <div>
        <ul>
            <li class="mb-2">La castración proporciona mayores beneficios de salud para su mascota macho, previene el cáncer a los testículos, 
                si se lo realiza antes de los seis meses de edad.</li>
            <li class="mb-2">Su perro macho no querrá vagar fuera de casa.</li>
            <li class="mb-2">Su perro macho castrado se comportará de mejor manera. </li>
        </ul>
    </div>
    <div class="mb-4 mt-4">
        <h3 class="purple-text"><u>Riesgos:</u></h3>
    </div>
    <div>
        <ul>
            <li class="mb-2">En algunos perros esterilizados el metabolismo se ve disminuido y el proceso de las grasas se ve alterado causando predisposición para subir de peso, 
                sin embargo, una dieta adecuada, así como mantener el nivel de actividad recomendado para la raza y edad de tu mascota puede evitar este problema.</li>
            <li class="mb-2">Como cualquier procedimiento quirúrgico y anestésico hay riesgos, pero estos se ven asociados a la edad del paciente, estado de salud, sensibilidad a los 
                medicamentos y anestésicos utilizados, así como la habilidad del médico veterinario e instalaciones disponibles para realizar el procedimiento adecuadamente.</li>
        </ul>
    </div>
    <div class="mt-4 mb-4">
        <h3 class="purple-text"><u>Infografia: Esterilización de Mascotas</u></h3>
    </div>
    <div class="mb-4">
        <img src="http://socresponsable.org/imas/socresponsable-esterilizar-es.jpg" class="card img-fluid" style="height:1100px; display:block; margin:auto;">
    </div>
</div>